// Box-shadow
/// boxShadow|1|Shadow|1
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
// boxShadow|1|Shadow|1
$--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;
/// boxShadow|1|Shadow|1
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

// color
$--color-text-regular: #606266 !default;
$--color-text-placeholder: #C0C4CC !default;
$--color-text-secondary: #909399 !default;

$--color-success: #67C23A !default;
$--color-warning: #E6A23C !default;
$--color-danger: #F56C6C !default;
$--color-info: #909399 !default;

// radius
$--border-radius-base: 4px !default;

//border
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-lighter: #EBEEF5 !default;

/* Message
-------------------------- */
$--message-shadow: $--box-shadow-base !default;
$--message-min-width: 380px !default;
$--message-background-color: #edf2fc !default;
$--message-padding: 15px 15px 15px 20px !default;
$--message-content-color: $--color-text-regular !default;
$--message-close-color: $--color-text-placeholder !default;
$--message-close-size: 16px !default;
$--message-close-hover-color: $--color-text-secondary !default;

$--message-success-color: $--color-success !default;
$--message-info-color: $--color-info !default;
$--message-warning-color: $--color-warning !default;
$--message-danger-color: $--color-danger !default;


/* Color
---------------------------- */
$--color-white: #fff !default;
$--color-success: #67c23a !default;

$--color-success-light: mix($--color-white, $--color-success, 80%) !default;

$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
