
@import "mixins/config.scss";

@mixin b($block) {
  $B: $namespace+'-'+$block !global;

  .#{$B} {
    @content;
  }
}

@mixin e($element) {
  $selector: &;
  $currentSelector: "";
  @each $unit in $element {
    $currentSelector: #{$currentSelector + "." + $B + $element-separator + $unit + ","};
  }

  @at-root {
      #{$currentSelector} {
        @content;
      } 
  }
}

@include b(input-number) {
  position: relative;
  width: 100px;
  margin-bottom: 10px;

  @include e((increase, decrease)) {
    height: 100px;
  }
}

@mixin src($name) {
  $currentSelector: "";
  @each $unit in $name {
    $selector: #{$currentSelector + "." + $B + $element-separator + $unit + ","};
    $t: #{'url(../images/temp/' + $unit + '.png) no-repeat center'};
    @at-root {  
      #{$selector} {
        background: $t;
        background-size: contain; 
      }
    }
  } 
}

@include b(test) {
 
  @include e((qrcode, person)) {
    display: inline-block;
    width: 16px;
    height: 16px; 
    margin-right: 10px;
  }
  @include src((qrcode, person))
}



